@import "../../styles/variables";
@import "../../styles/fonts";

.btnStart {
  background-color: white !important;
  color: $primary !important;
  border-color: $primary !important;
  font-family: $roboto !important;
  font-size: 2rem !important;
  min-height: 5rem;
  min-width: 8rem;
  width: 100%;
  max-width: 15rem;
  border-width: 0.2rem !important;
  border-radius: 1rem !important;
}
