@import "../../styles/variables";

.btnStart {
  background-color: white;
  color: $title;
  border-color: $title;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  min-height: 5rem;
  width: 100%;
  min-width: 10rem;
  max-width: 15vw;
  border-radius: 1rem;
}
