@import "../../styles/variables";
@import "../../styles/fonts";

.btnStart {
  background-color: white;
  color: $primary;
  border-color: $primary;
  font-family: $roboto;
  font-size: 2rem;
  min-height: 5rem;
  min-width: 8rem;
  width: 100%;
  max-width: 15rem;
  border-width: 0.2rem;
  border-radius: 1rem;
}
