.search {
  min-height: 2rem;
  height: 100%;
  max-height: 3rem;
  min-width: 33.33vw;
  width: 100%;
  padding: 1rem 1rem 1rem 3rem;
  background-image: url("../../public/icon/search.svg");
  background-repeat: no-repeat;
  background-position: 1rem center;
  background-size: 1.2em;
  font-size: 1.2em;
  border: 0;
  outline: none;
}

.searchContainer {
  height: 100%;
  padding: 0.66rem 0rem;
}
