@import "../styles/variables";

.header {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  min-height: 5vh;
}

.logo {
  font-family: "Macondo Swash Caps", cursive;
  font-size: 2rem;
  color: $title;
}
