@import "../styles/variables";
@import "../styles/fonts";

.container {
  background-color: $theme-light;
  max-width: 36rem;
  padding: 0 1rem;
}

.main {
  background-color: $theme-light;
}

.footer {
  min-height: 15vh;
  background-color: $primary;
  color: white;
  nav {
    padding: 2vh 30vw;
  }
}

.footerTitle {
  font-family: $playfair-display;
  font-size: 1.25rem;
  font-weight: bold;
}

.footerContent {
  ul {
    list-style-type: none;
  }
  font-size: 1rem;
  font-family: "Karla", sans-serif;
}
