@import "../styles/variables";

.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}



.footer {
  min-height: 15vh;
  background-color: $primary;
  color: white;
  nav {
    margin: 0 5vw;
  }
}

.footerTitle {
  font-family: "Playfair Display", serif;
  font-size: 1.25rem;
  font-weight: bold;
}

.footerContent {
  ul {
    list-style-type: none;
  }
  font-size: 1rem;
  font-family: "Karla", sans-serif;
}
