@import "../../styles/variables";

.accordion {
  min-height: 20rem;
  max-height: 80vh;
}

.item {
  width: 100%;
  background-color: transparent;
  border-radius: 0.5rem;
  border: 1px solid $blank4 !important;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.top {
  width: 100%;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: $title-light;
  line-height: 3rem;
  padding-top: 1.5rem;
}

.bar {
  width: 96%;
  margin: auto;
  background-color: rgba(231, 101, 75, 0.5);
  line-height: 0.15rem;
  height: 0.2rem;
  border-radius: 0.5rem;
}

.header {
  button {
    background-color: transparent;
  }
}

.emptyText {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
}

.toggle {
  width: 100%;
  text-align: center;
  font-family: "Karla", serif;
  font-size: 1.2rem;
  color: $primary;
}
