@import "../../styles/variables";
@import "../../styles/fonts";

.accordion {
  min-height: 30rem;
  max-height: 76vh;
}

.item {
  width: 100%;
  background-color: transparent;
  border-radius: 0.5rem;
  border: 1px solid $blank4 !important;
}

.top {
  font-family: $playfair-display;
  font-weight: bold;
  font-size: calc(1rem + 0.4vw);
  color: $title-light;
  line-height: 3rem;
  padding-top: calc(1rem + 0.2vh);
}

.bar {
  width: 96%;
  margin: auto;
  background-color: rgba(231, 101, 75, 0.5);
  line-height: 0.15rem;
  height: 0.2rem;
  border-radius: 0.5rem;
}

.header {
  button {
    background-color: transparent;
  }
  :focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  }
}

.emptyText {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
}

.toggle {
  text-align: center;
  font-family: "Karla", serif;
  font-size: 1.2rem;
  color: $primary;
}
