@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Inter:wght@500&family=Karla&family=Lemonada:wght@400;700&family=Macondo+Swash+Caps&family=Marmelad&family=Nunito+Sans:wght@700&family=Open+Sans&family=Playfair+Display:wght@400;700&family=Roboto&display=swap");

$lemonada: "Lemonada", cursive;
$gloria-hallelujah: "Gloria Hallelujah", cursive;
$roboto: "Roboto", sans-serif;
$nunito-sans: "Nunito Sans", sans-serif;
$macondo-swash-caps: "Macondo Swash Caps", cursive;
$playfair-display: "Playfair Display", serif;
