@import "../styles/variables";
@import "../styles/fonts";

.sec1Cover {
  width: 100%;
  min-height: 33.33vw;
  height: 66.66vh;
  max-height: 75vh;
  z-index: 0;
  background-image: url("/img/landing-cover.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.sec1Link {
  font-family: $nunito-sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0em;
  text-align: center;
  color: $secondary;
  z-index: 9999;
}

.sec1Title {
  padding-left: 50%;
  color: $secondary;
  font-size: calc(5rem + 3vw);
  text-shadow: 1px 1px 1px #3c5c5e;
  font-family: $macondo-swash-caps;
  line-height: 8rem;
  z-index: 1;
}

.sec1Subtitle {
  padding-left: 72%;
  color: $subtitle;
  font-size: calc(1.2rem + 0.5vw);
  font-family: $lemonada;
}

.sec1Button {
  text-align: center;
  width: 100%;
  padding-bottom: 5%;
}

// Section 2
.sec2Cover {
  width: 100%;

  z-index: 0;
  background-image: url("/img/map-background.svg"),
    url("/img/landing-people.svg");
  background-position: left top, right bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: 50%, 30%;
}

.sec2Content {
  z-index: 1;
  padding-top: 25%;
  padding-bottom: 25%;
}

.sec2Title {
  padding: 6% 10%;
  color: $blank;
  font-size: calc(1rem + 0.4vw);
  font-family: $lemonada;
  font-weight: 400;
  b {
    color: $secondary2;
  }
}

.sec2Subtitle {
  padding: 5% 0;
  color: $blank;
  font-family: $lemonada;
  font-size: calc(0.8rem + 0.4vw);
}
.sec2Text {
  padding: 0 1rem;
  color: $blank;
  font-family: $roboto;
  font-size: calc(0.7rem + 0.4vw);
}
.sec2BottomText {
  padding: 0 calc(10% + 0.3vw);
  color: $blank;
  font-family: $lemonada;
  font-size: calc(0.7rem + 0.2vw);
  span {
    font-size: calc(1rem + 0.5vw);
    color: $secondary;
    font-family: $macondo-swash-caps;
    font-weight: bold;
  }
  b {
    color: $secondary2;
  }
}

// Section 3
.sec3Cover {
  width: 100%;
  z-index: 0;
}

.sec3Banner {
  width: 100%;
  background-color: $primary;
  padding-bottom: 2%;
}
.sec3Text {
  color: white;
  font-family: $playfair-display;
}

.sec3Title {
  padding-top: calc(1rem + 2%);
  padding-bottom: 4%;
  color: $blank;
  font-family: $lemonada;
  font-size: calc(1.5rem + 0.6vw);
  text-align: center;
}

.sec3SubTitle {
  color: $blank;
  font-family: $lemonada;
  font-size: calc(1.8rem + 0.6vw);
  text-align: center;
}

.sec3TopText {
  color: $blank;
  font-family: $roboto;
  font-size: calc(1rem + 1vw);
  font-weight: bold;
}
.sec3BottomText {
  color: $blank;
  font-size: calc(1rem + 0.1vw);
  line-height: 1rem;
  font-family: $roboto;
  p {
    font-weight: bold;
  }
}

// Section 4
.sec4Cover {
  width: 100%;
  z-index: 0;
  background-image: url("/img/landing-people-bottom.svg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 33.33%;
}

.sec4Text {
  padding-top: calc(5% + 2vw);
  padding-bottom: calc(5% + 2vw);
  max-width: 66.6%;
}

.sec4Title {
  color: $blank;
  font-family: $lemonada;
  font-weight: bold;
  font-size: calc(0.8rem + 0.3vw);
}
.sec4Subtitle {
  padding: 0 10%;
  color: $blank;
  font-family: $lemonada;
  font-size: calc(0.8rem + 0.3vw);
  span {
    font-size: calc(1rem + 0.4vw);
    color: $secondary;
    font-family: $macondo-swash-caps;
    font-weight: bold;
  }
}

.sec4Diagram {
  z-index: 0;
}

// Action Section
.secAction {
  position: relative;
  width: 100%;
  padding-bottom: 5vmax;
}
