@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

.map {
  margin: 0 10%;
  width: 80%;
  min-height: 40vh;
}

.factor {
  width: 100%;
  font-weight: 600;
  span {
    float: right;
    color: lightgray;
  }
}
