@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

$width-full: 100%;

.map {
  width: $width-full;
  min-height: 40vh;
  height: calc($width-full * 0.7);
}

.factor {
  width: 100%;
  font-weight: 600;
  span {
    float: right;
    color: lightgray;
  }
}
