@import "../styles/variables";
@import "../styles/fonts";

.container {
  background-color: $theme-light;
  height: 80vh;
}

.title {
  padding-top: 25vh;
  font-weight: bold;
  font-size: 4rem;
  font-family: $playfair-display;
}

.subtitle {
  font-family: $nunito-sans;
  font-weight: bold;
  font-size: 1.5rem;
}

.text {
  font-family: $gloria-hallelujah;
  font-size: 1.5rem;
  padding: 0 20%;
}
