// Color definitions
$primary: #db3c21;
$primary2: #e7654b;
$primary3: #f29c70;
$secondary: #ba4d3a;
$secondary2: rgb(1, 66, 178);
$secondary3: #fff7ec;
$blank: #0f1c4d;
$blank2: #898383;
$blank3: #c4c4c4;
$blank4: #d8d8d8;
$blank5: #e5e5e5;
$background: #924430;
$subtitle: #233176;
$title-light: #898383;
$title-dark: #8b7171;
$theme-dark: #eccda0;
$theme-light: #fef9f7;
$text: #fff7ec;
$text-dark: #241e07;
