// Color definitions
$primary-h: #ff5c58;
$primary-m: #ffa19e;
$primary-l: #fcd2d1;
$secondary-h: #ffdcab;
$secondary-m: #ffedd3;
$secondary-l: #fff7ec;
$tertiary-h: #000000;
$tertiary-m: #c4c4c4;
$tertiary-l: #d8d8d8;
$title: #898383;
$title-red: #e7654b;
$theme-dark: #eccda0;
