// Color definitions
$primary: #e7654b;
$background: #924430;
$subtitle: #233176;
$title: #ba4d3a;
$title-light: #898383;
$title-dark: #8b7171;
$theme-dark: #eccda0;
$theme-light: #fef9f7;
$text: #fff7ec;
$text-special: #f29c70;
$text-dark: #241e07;
